// Define variables for your color scheme

// Main brand colours
$primary:#75A8F6; // soft blue
$primary-dark:#1F5FCC; // for hover/focus

// Backgrounds
$background:#F7FAFF; // page background
$white:#FFFFFF; // cards, containers
$light-gray: #aca9a9;
// Text
$text-main:#1F2933; // main text
$text-muted:#6B7280; // secondary text

// Borders
$border:#D6E2F5; // light borders, dividers

// Buttons
$btn-primary-bg: $primary;
$btn-primary-hover: $primary-dark;
$btn-primary-text:#FFFFFF;

// Links
$link-color: $primary-dark;
$link-hover-color: $primary;

$light-gray: #f5f5f5;
