<% if resource.errors.any? %>
  <div class="sp-form-error" data-turbo-cache="false">
    <div class="sp-form-error-header">
      <span class="sp-form-error-title">
        We couldn’t create your account
      </span>
      <span class="sp-form-error-subtitle">
        Please fix the issue below and try again.
      </span>
    </div>

    <ul class="sp-form-error-list">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>