<nav class="navbar">
  <div class="navbar-left">
    <span class="navbar-logo">SoberPath</span>
  </div>
  <div class="navbar-right">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Stories</a>
    <%= link_to "Log in", new_user_session_path, class: "navbar-btn login-btn" %>
    <%= link_to "Sign up", new_user_registration_path, class: "navbar-btn signup-btn" %>
  </div>
</nav>
