<% current_milestone = user.current_coin_milestone %>

<% if current_milestone.present? %>
  <div class="milestones-current-card">
    <div class="milestones-current-card__header">
      <%# Optional: Coin-Bild statt Icon %>
      <%#= image_tag "coins/#{current_milestone[:file]}", class: "milestones-current-card__icon", alt: current_milestone[:name] %>

      <div class="milestones-current-card__icon">
        🪙
      </div>

      <div>
        <h2 class="milestones-current-card__title">
          <%= current_milestone[:name] %>
        </h2>
        <p class="milestones-current-card__subtitle">
          Current sober milestone
        </p>
      </div>
    </div>

    <p class="milestones-current-card__description">
      <%= current_milestone[:description] %>
    </p>

    <% if current_milestone[:celebrations].present? %>
      <p class="milestones-current-card__celebrations-title">
        Ideas to celebrate this milestone:
      </p>
      <ul class="milestones-current-card__celebrations-list">
        <% current_milestone[:celebrations].each do |idea| %>
          <li class="milestones-current-card__celebration-item">
            <span class="milestones-current-card__bullet">•</span>
            <span><%= idea %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
