<% next_milestone, target_time = user.next_coin_milestone_with_time || [] %>

<% if next_milestone && target_time %>
  <div class="milestones-next-card"
       data-controller="countdown"
       data-countdown-target-time-value="<%= target_time.iso8601 %>">
    <div class="card border-0">
      <div class="card-body">
        <h6 class="text-muted mb-1">
          Next milestone
        </h6>
        <h5 class="card-title mb-2">
          <%= next_milestone[:name] %>
        </h5>

        <p class="mb-1 fw-semibold">
          Only:
        </p>
        <p class="mb-0 countdown-text" data-countdown-target="output">
          <!-- will be filled by Stimulus -->
        </p>
      </div>
    </div>
  </div>
<% end %>
