<div class="container chatbot">
  <h1>Chat with us</h1>
  <div id="ai_chat_messages">
    <%= render @ai_chat_messages %>
  </div>
  <%= render "ai_chat_messages/form", ai_chat_message: @ai_chat_message %>
</div>
